*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(#e7f0b5, #5c4e01); /* Fundo Amarelo */
    /* background: linear-gradient(#f0b5b5, #5c0101); - Fundo Vermelho*/
    /*background: linear-gradient(#a4f845, #249b40); - Código Original */
}

header h1{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #ffffff;
    text-shadow: 3px 3px 1px rgba(0,0,0,0.5);
}

main{
    background-color: white;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 0.5em;
}

.left, .right{
    width: 50%;
}

img{
    width: 100%;
}

.left{
    padding: 1em;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input{
    padding: 0.5em;
    padding-left: 0.75em;
    border: 1px solid #208f39;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #00000030;
    outline: none;
}

input:focus{
    border: 2px solid #208f39;
}

button{
    padding: 0.75em 0.5em;
    background-color: #208f39;
    border-radius: 0.5em;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #176329;
    box-shadow: 2px 2px 2px #00000060;
}